{
    "presets": [
      ["@babel/env",{
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": 3, // 解决填充无法正常Array.flat
        "targets": {
          "esmodules": true
        }
      }]
    ],
    "plugins": []
  }