/**
*   @custom.css ~ !important
**/

$background-blue: #131529;
$link-color: #0091FF;
$white-color: #FFFFFF;
$grey-color: rgba(67,69,86,1);
$active-color: rgba(1,145,255,1);

p {
  margin: 0;
}

body {
  font-size: 0.3rem;
}

html,body{
  height: 100%;
}
